/* theme 以外的补丁*/
  
  .el-radio-button__inner:hover {
    border: 1px solid #2C97DE;
  }

  .el-radio-button__inner i.el-icon-check{
    margin: 0 6px 0 0;
    font-size:9px;
  }
  
  label.el-radio-button:hover {
    background: #FFFFFF;
    /*border: 1px solid #2C97DE;*/
    border-radius: 4px 0 0 4px;
    color: #2C97DE;
  }
  /*
  label.el-radio-button:active {
    background: #2C97DE;
    border: 1px solid #2C97DE;
    border-radius: 4px 0 0 4px;
  }*/
  
  .el-month-table td.current .cell {
    background-color: #20A0FF;
    color: #fff;
  }